NODE_ENV=dev
CORS_ORIGIN=urlfrontend

PORT=3000
POSTGRES_USER=seuusuario
POSTGRES_HOST=localhost
POSTGRES_DB=frete-facil
POSTGRES_PASS=suasenha
POSTGRES_PORT=5432

JWT_SECRET=senhamuitofoda
JWT_REFRESH_SECRET=secretmuitofoda